
<div class="container"> 
<br>
  <div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="card">
    <div class="card-header"><h4> New recipe food</h4></div>
      <div class="card-body">
      <%= render "form", recipe_food: @recipe_food %>

      <br>

      <div>
        <%= link_to "Back to recipe foods", recipe_foods_path %>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
